body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: rgb(52, 165, 52);
}

header {
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: rgb(214, 159, 178);
    z-index: 2;
}

h1, p {
    color: white;
    font-family: Georgia serif 16px;
}

#titulo {
    margin-right: 1000px;
    margin-bottom: -65px;
}

#pontos{
    margin-left: 1000px;
}

footer {
    position:fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: rgb(214, 159, 178);
    margin-top: 20px;
    text-align: center;
}
